* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    font-size: 20px;
    width: 100%;
}

#container {
    width: 300px;
    height: 350px;
    margin: auto;
    margin-top: 40px;
    display: block;
    position: relative;
    z-index: 0;
}

.part {
    background-image: linear-gradient(rgb(150, 150, 110), rgb(45, 90, 70));
    border: solid rgb(196, 102, 102) 2px;
    box-shadow: 0 0 1px 1px, 0 0 2px 1px rgb(196, 102, 102) inset;
    border-radius: 10px;
    height: inherit;
    width: 100px;
    position: absolute;
    z-index: 1;
}
#part-left {
    left: 0px;
}
#part-mid {
    left: 100px;
}
#part-right {
    left: 200px;
}

#buttons {
    position: relative;
    background-color: rgb(64, 64, 64);
    border: solid rgb(73, 73, 73) 1px;
    border-radius: 10px;
    box-shadow: 0 0 1px 3px rgb(35, 35, 35);
    width: 35%;
    height: 35%;
    display: grid;
    place-items: center;
    top: 13%;
    margin: auto;
    margin-top: 20%;
    padding: 5px 5px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: 
        "A B C"
        "D E F"
        "G H I"
        "J K L";
        z-index: 2;
}
button {
    background-color: rgb(160, 248, 207);
    border: solid rgb(108, 202, 171) 2px;
    box-shadow: 0 0 50px 0.5px; 
    border-radius: 25%;
    justify-content: center;
    align-content: center;
    display: grid;
    width: 1.5em;
    height: 1.5em;
    font-size: 0.9rem;
    align-self: center;
    z-index: 2;
}
#buttons button:hover {
    cursor: pointer;
}

#display {
    position: relative;
    background-color: rgb(160, 210, 84);
    border: solid rgb(64, 64, 64) 4px;
    border-radius: 10px;
    box-shadow: 0px 1px 1px 2.5px rgb(35, 35, 35), 0 0 10px inset;
    width: 60%;
    height: 40px;
    margin: 40px auto;
    text-align: center;
    top: 12%;
    padding: 5px;
    z-index: 2;
}

#button-1 {
    grid-area: A;
}
#button-2 {
    grid-area: B;
}
#button-3 {
    grid-area: C;
}
#button-4 {
    grid-area: D;
}
#button-5 {
    grid-area: E;
}
#button-6 {
    grid-area: F;
}
#button-7 {
    grid-area: G;
}
#button-8 {
    grid-area: H;
}
#button-9 {
    grid-area: I;
}
#button-0 {
    grid-area: K;
}
#asterisk {
    grid-area: J;
}
#hash {
    grid-area: L;
}

.duct-tape {
    position: absolute;
    z-index: 2;
    border: solid black 1px;
    box-shadow:  0px 0px 1px 0.1px;
    background-image: linear-gradient(to right, grey, white);
    width: 100.5%;
    height: 12%;
}
#duct-tape-1 {
    top: 27.5%;
}
#duct-tape-2 {
    top: 80%;
    
}
.tape-break {
    position: fixed;
    border-right: solid rgba(0, 0, 0) 1px;
    width: 0px;
    height: 8%;
}
#tape-break-1 {
    box-shadow: 5px 0px 8px 0.5px;
    margin-left: 60px;
}
#tape-break-2 {
    box-shadow: -5px 0px 8px 0.5px;
    margin-left: 240px;
}