* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    font-size: 20px;
    width: 100%;
}

#container {
    border: solid black 1px;
    width: 250px;
    height: 300px;
    margin: auto;
    margin-top: 40px;
    display: block;
}

#buttons {
    border: solid black 1px;
    width: 50%;
    height: 50%;
    display: grid;
    place-content: center;
    margin: auto;
    margin-top: 40px;
    grid-area: B;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas: 
        "A B C"
        "D E F"
        "G H I"
        "J K L";
}

#display {
    border: solid black 1px;
    width: 60%;
    height: 35px;
    margin: 40px auto;
}

#button-1 {
    grid-area: A;
}
#button-2 {
    grid-area: B;
}
#button-3 {
    grid-area: C;
}
#button-4 {
    grid-area: D;
}
#button-5 {
    grid-area: E;
}
#button-6 {
    grid-area: F;
}
#button-7 {
    grid-area: G;
}
#button-8 {
    grid-area: H;
}
#button-9 {
    grid-area: I;
}
#button-0 {
    grid-area: J;
}
#asterisk {
    grid-area: K;
}
#hash {
    grid-area: L;
}

#buttons div {
    background-color: darkgray;
    border: solid black 1px;
    display: grid;
    place-items: center;
    width: 1.2em;
    height: 1.2em;
    font-size: 1rem;
    margin: 10px;
}
#buttons div:hover {
    cursor: pointer;
}

.margin-left {
    margin-left: 50px;
}
.margin-right{
    margin-right: 50px;
}
.margin-around {
    margin: 10px 30px;
}